.nav-link.active
{
    color: rgb(1, 255, 14) !important; 
}

.nav-link
{
    color: red !important;
    transition: 0.4s ease-in-out;
    font-size: 30px;
}

.nav-link:hover
{
    color: rgb(1, 255, 14) !important;
    border-color: red red !important;
}

.nav-tabs
{
    border-bottom: 1px solid red !important;
}

.nav-tabs .nav-link.active
{
    border-color: red red red !important;
}

.buy-button
{
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #c50707 50%, #ff5050 50%, #ee3939);
    background-size: 200%;
    background-position: 0%;
    transition: 0.4s;
    color: #fff;
    font-weight: 700;
    cursor:pointer;
    margin-bottom: 10px;
}

.buy-button:hover
{
    background-position: 100% 0%;
}